@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-pattern: radial-gradient(circle at 10px 10px, rgba(0,0,0,0.04) 1px, transparent 1px);
  --bg-size: 24px 24px;
}

.bg-paper {
  background-image: var(--bg-pattern);
  background-size: var(--bg-size);
}
